.toolbar{
  position: fixed;
  background:#521751;
  height: 56px;
  width:100%;
  top:0;
  left:0;
  
}

.toolbar__navigation{
  display: flex;
  align-items:center;
  height:100%;
  padding:0 1rem;
}

.toolbar__logo{
  margin-left: 1.0rem;
}
.toolbar__logo a{
  text-decoration: none;
  color:white;
  font-size: 1.5rem;
}

.toolbar__navigation-items a{
  color:white;
  text-decoration: none;
}
.spacer{
  flex:1;
}

.toolbar__navigation-items ul{
  margin:0;
  padding: 0;
  list-style: none;
  display: flex;
}
.toolbar__navigation-items li{
  padding: 0 1.5rem;
}
.toolbar__navigation-items a:hover,
.toolbar__navigation-items a:active{
  color:#fa923f;
}

@media (max-width: 768px){
  .toolbar__navigation-items{
    display: none;
  }
}

@media (min-width: 769px){
  .toolbar__toggle-button{
    display: none;
  }
  .toolbar__logo{
    margin-left: 0;
  }
}
